{
    "presets": [
        [
            "env", {
                "targets": {
                    "electron": "1.7.11",
                },
                "debug": true,
            }
        ],
        "stage-0",
        "react"
    ],
    "env": {
        "production": {
            "plugins": ["transform-react-remove-prop-types"]
        }
    },
}
