{
    "context-menu": {
        "atom-text-editor": [{
            "label": "Add code annotation"
            "command": "code-annotations:add-code-annotation"
        }]
    },
    "menu": [{
        "label": "Packages"
        "submenu": [{
            "label": "Code Annotations"
            "submenu": [{
                "label": "Toggle"
                "command": "code-annotations:toggle"
            }, {
                "label": "Add code annotation"
                "command": "code-annotations:add-code-annotation"
            }]
        }]
    }]
}
