"atom-workspace.has-code-annotations-container":
    "escape": "code-annotations:hide-container"
    "ctrl-alt-c ctrl-alt-c": "code-annotations:show-commands"
    # "ctrl-alt-a a": "code-annotations:add-code-annotation-with-file"
    # "ctrl-alt-a a c": "code-annotations:add-code-annotation-with-content"
    # "ctrl-alt-a d": "code-annotations:delete-code-annotation"
