"atom-workspace.has-code-annotations-container":
    "escape": "code-annotations:hide-container"
    # "ctrl-alt-a a d d": "code-annotations:add-code-annotation-with-file"
    # "ctrl-alt-a a d d c": "code-annotations:add-code-annotation-with-content"
    # "ctrl-alt-a d e l": "code-annotations:delete-code-annotation"
