"image-testasset": "image-testasset.png"
"html-testasset": "html-testasset.html"
"inline-html-testasset": "inline-html-testasset.i.html"
"text-testasset": "text-testasset.txt"
"url-testasset": "url-testasset.webloc"
