"image-testasset": "image-testasset.png"
"html-testasset": "html-testasset.html"
"framed-html-testasset": "standalone-html-testasset.s.html"
"text-testasset": "text-testasset.txt"
"url-testasset": "url-testasset.webloc"
