// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "octicon-mixins";



code-annotation-container {
    background-color: @app-background-color;
    border: 2px solid @base-border-color;
    bottom: 10%;
    box-shadow: 0 0 12px 6px @app-background-color;
    box-sizing: border-box;
    left: 10%;
    overflow: hidden;
    padding: 6px;
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 100;

    // .content {
    //     overflow: auto;
    // }

    .btn {
        &.disappear, &.edit {
            float: right;
        }

        &.delete {
            background-color: @background-color-error;
            color: @text-color-error;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .content {
        .rendered.image-renderer {
            width: 100%;
        }
    }

}


code-annotation-gutter-icon {
    .octicon(pin);
    cursor: pointer;
    text-align: center;
    width: 14px;
}

// https://discuss.atom.io/t/icon-inside-gutter/19514/8
// .icon-code-annotation {
//     // possible: comment, pin, light-bulb, pencil (for editing), question, tools
//     .octicon(comment);
//     cursor: pointer;
// }
