// The ui-variables file is provided by base themes provided by Atom.
//
// See https://git.io/vp9EG for a full listing of what's available.
@import "ui-variables";


@container-padding: 6px;
@inner-padding: 5px;


.code-annotations-mount-point {
    .backdrop {
        background-color: contrast(@app-background-color);
        opacity: 0.12;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
    }
    .annotation-container {
        background-color: @app-background-color;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 @app-background-color;
        box-sizing: border-box;
        overflow: hidden;
        padding: @container-padding;
        position: absolute;
        z-index: 100;

        > .col {
            display: inline-block;
            height: 100%;
            padding: @inner-padding 10px @inner-padding @inner-padding;
            position: relative;
            vertical-align: top;

            &.content {
                overflow: scroll;
            }
        }

        .select-list {
            ol.list-group {
                // For some reason 'pdf-view's dependecy 'atom-space-pen-views'
                // sets this to 312px globally.
                max-height: none;
            }
            .status.icon {
                float: right;
                margin-left: 16px;

                &.icon-x, &.icon-trashcan {
                    color: @text-color-error;
                }
                &.icon-pencil {
                    color: @text-color-info;
                }
            }
        }

        .btn.hide-container {
            opacity: 0.6;
            position: absolute;
            right: @container-padding + @inner-padding;
            top: @container-padding + @inner-padding;
            transition: opacity 200ms;
            z-index: 10;
            &:hover {
                opacity: 1;
            }
        }

        // RENDERERS
        .fallback-message {
            font-size: 1.8rem;
            font-weight: 100;
            text-align: center;
        }

        .image-wrapper {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            max-height: 100%;
            max-width: 100%;

            > img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        .webview-wrapper {
            height: 100%;
            position: relative;
            width: 100%;

            .loading {
                left: ~'calc(50% - 32px)';
                position: absolute;
                top: ~'calc(50% - 32px)';
                z-index: 1;
            }

            webview {
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 5;
            }
        }
    }
}



.code-annotation-gutter-icon {
    cursor: pointer;
    text-align: center;
    width: 14px;

    &:before {
        font-size: 13px;
    }
}
